:root {
  --bg-color: #363B40;
  --side-bar-bg-color: rgb(22, 77, 105);
  --text-color: #b8bfc6;
  --active-file-bg-color: rgb(34, 34, 34);

}


html, body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #363B40 !important;
  color: #b8bfc6;
  border-color: transparent;
  font-style: normal;
  line-height: 1.625rem; }
  body .main {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
    body .main button,
    body .main input,
    body .main select,
    body .main textarea {
      color: #b8bfc6;
      border-color: transparent; }
    body .main button,
    body .main input,
    body .main select,
    body .main textarea {
      font-style: normal;
      line-height: 1.625rem;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
    body .main hr {
      height: 2px;
      border: 0;
      margin: 24px 0 !important; }
    body .main h1,
    body .main h2,
    body .main h3,
    body .main h4,
    body .main h5,
    body .main h6 {
      font-family: "Lucida Grande", "Corbel", sans-serif;
      font-weight: normal;
      clear: both;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
      margin: 0;
      padding: 0;
      color: #DEDEDE; }
    body .main h1 {
      font-size: 2.5rem;
      /* 36px */
      line-height: 2.75rem;
      /* 40px */
      margin-bottom: 1.5rem;
      /* 24px */
      letter-spacing: -1.5px; }
    body .main h2 {
      font-size: 1.63rem;
      /* 24px */
      line-height: 1.875rem;
      /* 30px */
      margin-bottom: 1.5rem;
      /* 24px */
      letter-spacing: -1px;
      font-weight: bold; }
    body .main h3 {
      font-size: 1.17rem;
      /* 18px */
      line-height: 1.5rem;
      /* 24px */
      margin-bottom: 1.5rem;
      /* 24px */
      letter-spacing: -1px;
      font-weight: bold; }
    body .main h4 {
      font-size: 1.12rem;
      /* 16px */
      line-height: 1.375rem;
      /* 22px */
      margin-bottom: 1.5rem;
      /* 24px */
      color: white; }
    body .main h5 {
      font-size: 0.97rem;
      /* 16px */
      line-height: 1.25rem;
      /* 22px */
      margin-bottom: 1.5rem;
      /* 24px */
      font-weight: bold; }
    body .main h6 {
      font-size: 0.93rem;
      /* 16px */
      line-height: 1rem;
      /* 16px */
      margin-bottom: 0.75rem;
      color: white; }
    body .main a {
      text-decoration: none;
      outline: 0;
      color: rgb(29, 159, 207);}
    body .main a:hover {
      outline: 0; }
    body .main a:focus {
      outline: thin dotted; }
    body .main sup {
      background-color: #555;
      color: #ddd; }
    body .main img {
      width: 100%;
      display: block; }
    body .main p {
      -ms-word-wrap: break-word;
      word-wrap: break-word; }
      body .main p img {
        max-width: 90%;
        min-width: 45%;
        display: block;
        margin-left: auto;
        margin-right: auto; }
    @media screen and (min-width: 768px) {
      body .main img {
        width: 70%;
        margin-left: auto;
        margin-right: auto; }
      body .main p img {
        max-width: 70%; } }
    body .main p,
    body .main ul,
    body .main dd,
    body .main ol,
    body .main hr,
    body .main address,
    body .main pre,
    body .main table,
    body .main iframe {
      margin-top: 0;
      margin-bottom: 1.5rem;
      /* 24px */ }
    body .main li > blockquote {
      margin-bottom: 0; }
    body .main audio:not([controls]) {
      display: none; }
    body .main [hidden] {
      display: none; }
    body .main ul,
    body .main ol {
      padding: 0 0 0 1.875rem;
      /* 30px */ }
    body .main ul {
      list-style: square; }
    body .main ol {
      list-style: decimal; }
    body .main ul ul,
    body .main ol ol,
    body .main ul ol,
    body .main ol ul {
      margin: 0; }
    body .main b,
    body .main th,
    body .main dt,
    body .main strong {
      font-weight: bold; }
    body .main i,
    body .main em,
    body .main dfn,
    body .main cite {
      font-style: italic; }
    body .main blockquote {
      padding-left: 1.875rem;
      margin: 0 0 1.875rem 1.875rem;
      border-left: solid 2px #474d54;
      padding-left: 30px;
      margin-top: 35px; }
    body .main pre,
    body .main code,
    body .main kbd,
    body .main tt,
    body .main var {
      background: rgba(0, 0, 0, 0.05);
      font-size: 0.875rem;
      font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }
    body .main ul, body .main ol {
      padding-left: 20px;
      overflow: scroll; }
    body .main kbd {
      padding: 2px 4px;
      font-size: 90%;
      color: #fff;
      background-color: #333;
      border-radius: 3px;
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25); }
    body .main code,
    body .main kbd,
    body .main tt,
    body .main var {
      padding: 2px 5px; }
    body .main table {
      max-width: 100%;
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0; }
    body .main th,
    body .main td {
      padding: 5px 10px;
      vertical-align: top; }
    body .main a {
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
    body .main hr {
      background: #474d54; }
    body .main h1 {
      margin-top: 2em; }
    body .main a {
      color: #e0e0e0;
      text-decoration: underline; }
    body .main a:hover {
      color: #fff; }
    body .main .mjx-chtml {
      color: #81b1db; }
    body .main b,
    body .main th,
    body .main dt,
    body .main strong {
      color: #DEDEDE;
      /* variable */ }
    body .main mark {
      background: #D3D40E; }
    body .main blockquote {
      color: #9DA2A6; }
    body .main table a {
      color: #DEDEDE;
      /* variable */ }
    body .main th,
    body .main td {
      border: solid 1px #474d54;
      /* variable */ }

/*# sourceMappingURL=concert.css.map */
